@model Works_Life_Cycle.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar Novo</h1>

<h4>Estudante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email2" class="control-label"></label>
                <input asp-for="Email2" class="form-control" />
                <span asp-validation-for="Email2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <select asp-for="Sex" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()" >
                    <option value="">Please choose your Gender</option>
                </select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDNumber" class="control-label"></label>
                <input asp-for="IDNumber" class="form-control" />
                <span asp-validation-for="IDNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDType" class="control-label"></label>
                <select asp-for="IDType" class="form-control" asp-items="Html.GetEnumSelectList<IDType>()" >
                    <option value="">Please choose your ID Type</option>
                </select>
                <span asp-validation-for="IDType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseFK" class="control-label">Curso</label>
                <select asp-for="CourseFK" class="form-control" asp-items="ViewBag.CourseFK" name="CourseFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="NationalityFK" class="control-label">Nacionalidade</label>
                <select asp-for="NationalityFK" class="form-control" asp-items="ViewBag.NationalityFK" name="NationalityFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:10px; margin-bottom:20px;">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary" style="margin-bottom:10px;">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
