@{
    ViewData["Title"] = "About us";
}

<!-- News section-->
    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">

                <h1 style="text-align:center; padding-top: 50px;">Sobre nós</h1>

                <p class="lead mb-0">Trabalho realizado no âmbito da Unidade Curricular Projeto Final da Licenciatura em Engenharia Informática pelos alunos 21890-Rodrigo Bento & 21887-João Matos sobre a orientação do Prof.Renato Panda.</p>
                
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Noticia esquerda-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <img src="~/Assets/Renato_Panda.jpg" alt="Renato Panda" style="width:100%;height:100%;" />
                            <div class="small text-uppercase fw-bold text-muted">Prof.Renato Panda</div>       
                        </div>
                    </div>
                </div >
                <!-- Noticia Centro-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <img src="~/Assets/Rodrigo_Bento.jpg" alt="Rodrigo Bento" style="width:100%;height:100%;" />
                            <div class="small text-uppercase fw-bold text-muted">Rodrigo Bento</div> 
                            
                            </div>
                            
                    </div>
                </div>
                <!-- Noticia Direita-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <img src="~/Assets/Joao_Matos.jpg" alt="Joao Matos" style="width:100%;height:100%;" />  
                            <div class="small text-uppercase fw-bold text-muted">João Matos</div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>